 <!DOCTYPE html>
<html>
    <head>
      <title> Kevin Fisher's Portfolio </title>
      <meta lang="en" meta-charset="UTC-8">
      <link rel="stylesheet" href="stylesheet.css" type="text/css"/>
    </head>
    <body style="background-image: url('background.jpg');background-repeat: no-repeat;background-size: cover;font:16px red Ariel;">
      <div class="wrapper">
        <h1 style="color: red; align: center; margin: auto auto">Kevin Fisher</h1>
      <h3>About Me</h3>
      <p> My name is Kevin Fisher, I am a computer programmer. I specialize in HTML5, CSS3 and JavaScript. My knowledge base has come from lessons on Codecademy.com, W3schools.com as well as various websites and books.<br>
        With a background in sales mostly, with experience in customer services, communication and technology, I would like to translate ideas by designing, developing and creating site content. Designing and deploy webpages that are easy to navigate, and aesthetically appealing to the viewer is a hobby of mine. While focusing on website design and development I have also gained vast knowledge in numerous programming languages including: Ruby, Ruby on Rails, Python, Git, Command Line, SaSS, AngularJS, ReactJS 1.x, SQL, Bash/shell, as well as Java, C++, and C#. Web Development is my main career focus.</p>
      <div class="list1&2;" style="display:grid;padding: 100px;grid-template-columns: 300px 50% ">
      <h5>Certifications</h5>
          <ul>
            <a>  <li>HTML</li></a>
              <a><li>CSS</li></a>
            <a>  <li>JavaScript</li></a>
          </ul>
        </div>
          <div>
          <a href="https://certification.w3schools.com/w3certified.asp?email=kfisher16@gmail.com">
                  <img src="w3cert.gif" alt="W3Schools" style=" width: 120px;"/></a>
                </div>
                <div class="list2">
                <h5> Solo Learn Application Certification & Achievements</h5>
                <ul>
                      <li>C++</li>
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>JavaScript</li>
                      <li>Python</li>
                      <li>Ruby</li>
                      <li>Java</li>
                      <li>PHP</li>
                      <li>jQuery</li>
                  </ul>
            </div>
            <div>
              <footer id="footer" style="list-style: none;text-align:center;">
              <h5 style="display: float;align-content:right">Contact Info</h5>
                <li style="list-style: none;">450 Houston Rd. Coupeville WA 98239</li>
                <li><a href="mailto:">Email -"Kfisher16@gmail.com"</a></li>
                <li>Phone - (360)682-8541</li>
              </footer>
                </div>
              </div>
                  </body>
                      </html>
