body {
  background: 'background.jpg';
  repeat: no-repeat;
}

.background {
      background-img: src('background.jpg');
      background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
    }

img {
  repeat: no-repeat;
}

p {
  text-align: justify;
  margin: 100px;
}

div {
  
}

h5 {
  font-size: 20px;
  text-decoration: underline;
  color: darkgreen;
}

.list2 {
  display: inline-flex;
  flex-wrap: wrap;
  align-content:space-around;
  align-content:flex-start;
  width: 250px;
  height: 360px;
  padding:20px 40px 20px 20px;
}

h5 {
  text-decoration: underline;
  font-size: 20px;
  color: darkgreen;
}

.box1 {
  display: grid;
  grid-column: 2;
  border: solid;
}

#footer {
  list-style-type:none;
  text-align: center;
}

footer {
list-style-type:none;
text-align: center;
}
